name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install SDK packages
        shell: bash
        run: |
          sdkmanager --install                 "platform-tools"                 "platforms;android-34"                 "build-tools;34.0.0"                 "ndk;26.1.10909125"                 "cmake;3.22.1"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: "8.2.1"

      - name: Build Debug APK
        run: gradle :app:assembleDebug --no-daemon --stacktrace
